@font-face {
    font-family: 'Maven';
    src: url('MavenPro-Regular.ttf');
}

body, p {
    font-family: "Maven";
}

img {
    width: 40%;
    margin-bottom: 10px;
    padding-right: 10px;
}

p {
    margin: 10px;
}

h1 {
    color: #414bfc;
}

h2 {
    padding-left: 10px;
}

#main {
    width: 50%;
    border: solid 1px #d1d3f5;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #edeefc;
}

#images {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#images p {
    width: 100%;
    font-family: "Maven";
    display: flex;
    justify-content: center;
    margin: 1px;
    font-size: x-small;
    font-style: italic;
}