@font-face {
    font-family: 'Maven';
    src: url('MavenPro-Regular.ttf');
}

body, p {
    font-family: "Maven";
}

img {
    width: 40%;
    padding-left: 10px;
    margin-bottom: 10px;
}

p {
    margin: 10px;
}

h2 {
    padding-left: 10px;
}

#main {
    width: 50%;
    border: solid 1px black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgb(236, 236, 236);
}